@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.ABTDIV{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 30px 30px 30px;
}
.ABTH1{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-align: center;
}
.ABTDIV1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.ABTDIV2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ABP{
    text-align: center;
    padding: 10px;
}
.Authors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.AuthP{
    margin: 30px;
    text-align: justify;
}
@media only screen and (max-width: 425px){
    .ABTH1{
        font-size: 30px;
    }
}