.CartW{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 140px 20px auto;
}
.CartList{
    border: 2px solid white;
    border-radius: 20px;
    margin: 40px;
    padding: 10px;
    height: 300px;
    overflow: scroll;
}
.CARTPR{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
}
.TM{
    border: 2px solid white;
    border-radius: 20px;
    margin: 40px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.CARTPR-DTL{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
}
.CARTPR-BTN{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
}
.CRTBTN{
    border: 2px solid white;
    border-radius: 20px;
    outline: none;
    width: 100px;
    height: 40px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.BY{    background: rgb(0, 50, 0);}
.BT1{   background-color: rgb(93, 28, 0); }
.BT2{   background-color: rgb(78, 0, 67); }