@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
.HeadNav{
    background-color: rgb(42, 0, 62);
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.HDNAME{
    display: flex;
    justify-content: center;
    align-items: center;
}
.HDH1{
    text-align: center;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color: white;
}
.HDLINKS{
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.BTN{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    width: 90px;
    text-align: center;
}
.Male{
    background-color: rgb(106, 0, 0);
}
.CART{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid white;
    width: 90px;
    border-radius: 20px;
    background-color: rgb(0, 90, 70);
}
@media screen and (max-width: 425px){
    .HDH1{
        font-size: 30px;
    }
}