@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.ViewContainer{
    margin: 140px 0 auto;
}
.productCard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}
.PABTDIV{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.DCLRBOX{
    display: flex;
}
.IDCLRBOX{
    display: flex;
    margin-left: 5px;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}
.CLRBOX{
    height: 20px; 
    width: 20px;
    border-radius:10px;
    cursor: pointer;
    border: 2px solid white;
}
.SelectDiv{
    margin-top: 9px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.SelectP{
    margin-left: 9px;
    outline: none;
    border: none;
    width: 50px;
    padding: 3px;
}
.CartBuy{
    margin: 30px 0 auto;
}
.Buy{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(177, 0, 109);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100px;
}
@media screen and (width <= 425px) {
    .CartBuy{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}